html {
    font-family: "Times New Roman", Arial, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    line-height: 1.5;
    margin: 0px;
    padding: 0px;
    margin-bottom: 8px;
    /* border: 2px dotted red; */
}

body {
    max-width: 600px;
    margin: 16px auto;
}

.body {
    background-color: #f0f0f0;
}

.content {
    margin: 24px;
}

.title,
.descr,
.ingr,
.steps,
h3 {
    text-align: center;
    font-size: 2.5em;
}

.title {
    font-size: 64px;
    padding: 8px;
}

img {
    width: 100%;
}

h3 {
    font-size: 1.5em;
}

ul {
    list-style: none;
    display: flex;
    padding: 8px;
}

li {
    margin: auto;
}

a {
    border: 1px solid black;
    border-radius: 8px;
    padding: 8px;
    margin: 8px;
    display: inline-block;
    background-color: #500;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

a:hover {
    background-color: #faa;
    color: #00f
}

.home {
    display: inline;
    position: relative;
    left: 90%;
    top: 20px;
}

.ingr_sub {
    background-color: #aaf9;
    border: 1px solid black;
    border-radius: 5px;
}

.ingr_sub li{
    border: 1px solid black;
    margin: 5px;
    text-align: center;
}